In [63]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
from sklearn.linear_model import LinearRegression
# import Jinja2
# import matplotlib

In [64]:
# print(pd.__version__)

In [65]:
dataset = pd.read_csv('/home/dheeraj/my_projects/my_project_env/practice/Flask_app/hiring.csv')
dataset

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [21]:
dataset['test_score'].mean()

7.857142857142857

In [25]:
dataset['experience'].fillna(0, inplace=True)
dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)
# dataset.mean('test_score')

In [27]:
X = dataset.iloc[:, :3]

In [30]:
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]
X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [32]:
y = dataset.iloc[:, -1]

In [35]:
regressor = LinearRegression()
regressor.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [40]:
pickle.dump(regressor, open('/home/dheeraj/my_projects/my_project_env/practice/Flask_app/model.pkl','wb'))
model = pickle.load(open('/home/dheeraj/my_projects/my_project_env/practice/Flask_app/model.pkl','rb'))

In [43]:
print(model.predict([[2,9,6]]))

[53290.89255945]